# Q.1.

In [2]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [5]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [13]:
df.iloc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

# Q.2.

# loc()

The loc() function is label based data selecting method which means that we have to pass the name of the row or column which we want to select

This method includes the last element of the range passed in it, unlike iloc(). loc() can accept the boolean data unlike iloc()

Many operations can be performed using the loc() method like

# iloc()

The iloc() function is an indexed-based selecting method which means that we have to pass an integer index in the method to select a specific row/column

This method does not include the last element of the range passed in it unlike loc()

iloc() does not accept the boolean data unlike loc()

# Q.3.

In [15]:
new_df = df.reindex([3,0,1,2])

In [16]:
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [18]:
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [17]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

there is different outputs for iloc() and loc() because iloc works on inbuilt index whereas loc works on name of row or column

# Q.4.

In [19]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [20]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.708995  0.271193  0.291233  0.344081  0.863826  0.791425
2  0.215842  0.403802  0.623920  0.400805  0.369181  0.730258
3  0.069220  0.107920  0.440646  0.272132  0.668819  0.466643
4  0.694709  0.304389  0.564080  0.545044  0.877276  0.126856
5  0.994130  0.706519  0.959980  0.095728  0.495527  0.775439
6  0.098585  0.080238  0.167770  0.968884  0.898445  0.601865

In [38]:
df1.iloc[:,0:6].mean()

column_1    0.463580
column_2    0.312343
column_3    0.507938
column_4    0.437779
column_5    0.695512
column_6    0.582081
dtype: float64

In [40]:
df1['column_2'].std()

0.22854192890487698

# Q.5.

In [42]:
df1.loc[2,'column_2'] = 'sdm'

In [43]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.708995  0.271193  0.291233  0.344081  0.863826  0.791425
2  0.215842       sdm  0.623920  0.400805  0.369181  0.730258
3  0.069220   0.10792  0.440646  0.272132  0.668819  0.466643
4  0.694709  0.304389  0.564080  0.545044  0.877276  0.126856
5  0.994130  0.706519  0.959980  0.095728  0.495527  0.775439
6  0.098585  0.080238  0.167770  0.968884  0.898445  0.601865

In [44]:
df1.loc['column_2'].mean()

KeyError: 'column_2'

we can't find mean of a string type of data

# Q.6.

For working on numerical data, Pandas provide few variants like rolling, expanding and exponentially moving weights for window statistics

Among these are sum, mean, median, variance, covariance, correlation, etc.

# .rolling()

This function can be applied on a series of data. Specify the window=n argument and apply the appropriate statistical function on top of it

# .expanding()
This function can be applied on a series of data. Specify the min_periods=n argument and apply the appropriate statistical function on top of it.

# .ewm()
ewm is applied on a series of data. Specify any of the com, span, halflife argument and apply the appropriate statistical function on top of it. It assigns the weights exponentially

# Q.7.

In [45]:
data = pd.date_range(start = '2023-03-01', end = '2023-03-31')

In [46]:
data

DatetimeIndex(['2023-03-01', '2023-03-02', '2023-03-03', '2023-03-04',
               '2023-03-05', '2023-03-06', '2023-03-07', '2023-03-08',
               '2023-03-09', '2023-03-10', '2023-03-11', '2023-03-12',
               '2023-03-13', '2023-03-14', '2023-03-15', '2023-03-16',
               '2023-03-17', '2023-03-18', '2023-03-19', '2023-03-20',
               '2023-03-21', '2023-03-22', '2023-03-23', '2023-03-24',
               '2023-03-25', '2023-03-26', '2023-03-27', '2023-03-28',
               '2023-03-29', '2023-03-30', '2023-03-31'],
              dtype='datetime64[ns]', freq='D')

# Q.8.

In [54]:
import pandas as pd

# prompt the user to enter the two dates
date1 = input("Enter the first date (YYYY-MM-DD): ")
date2 = input("Enter the second date (YYYY-MM-DD): ")

# convert the dates to pandas datetime format
date1 = pd.to_datetime(date1)
date2 = pd.to_datetime(date2)

# calculate the time difference
time_diff = date2 - date1

# calculate the difference in days, hours, and minutes
days = time_diff.days
hours = time_diff.seconds // 3600
minutes = (time_diff.seconds // 60) % 60

# display the result
print("The difference between", date1.date(), "and", date2.date(), "is", days, "days,", hours, "hours, and", minutes, "minutes.")

Enter the first date (YYYY-MM-DD): 2023-03-01
Enter the second date (YYYY-MM-DD): 2023-03-03
The difference between 2023-03-01 and 2023-03-03 is 2 days, 0 hours, and 0 minutes.

# Q.9.

In [ ]:
import pandas as pd


file_path = input("Enter the file path: ")
column_name = input("Enter the column name: ")
category_order = input("Enter the category order separated by commas: ").split(",")

# read the CSV file
df = pd.read_csv(file_path)

# convert the specified column to a categorical data type with the specified category order
df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)

# sort the data by the specified column
df = df.sort_values(by=column_name)

# display the sorted data
print(df)

# Q.10.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Prompt the user for the file path
file_path = input("Enter the file path for the CSV file: ")

# Load the data into a Pandas DataFrame
df = pd.read_csv(file_path)


# Set the index to the date column
df.set_index('Date', inplace=True)

# Group the data by product category and resample by month
grouped = df.groupby('Product Category').resample('M').sum()

# Create the stacked bar chart
fig, ax = plt.subplots(figsize=(10,6))
grouped.unstack('Product Category').plot(kind='bar', stacked=True, ax=ax)

# Add labels and title
ax.set_xlabel('Month')
ax.set_ylabel('Sales')
ax.set_title('Sales by Product Category over Time')

# Show the chart
plt.show()

# Q.11.

In [ ]:
import pandas as pd


file_path = input("Enter the file path of the CSV file containing the student data: ")

# Read the CSV file into a Pandas DataFrame
df = pd.read_csv(file_path)


mean = df['test_score'].mean()
median = df['test_score'].median()
mode = df['test_score'].mode()[0]

# Display the mean, median, and mode in a table
data = {'Statistic': ['Mean', 'Median', 'Mode'], 'Value': [mean, median, mode]}
table = pd.DataFrame(data)
print(table)