# Q.1.

In [1]:
list1 = [1,2,3,4, [44,55,66, True], False, (34,56,78,89,34), {1,2,3,3,2,1}, {1:34, "key2": [55, 67, 78, 89], 4: (45,
22, 61, 34)}, [56, 'data science'], 'Machine Learning']

In [3]:

n = []
for i in list1:
    
    if type(i) == int or type(i) == float:
        n.append(i)
        
    elif type(i) == list or type(i) == set or type(i) == tuple :
        
        for j in i:
            if type(j) == int or type(j) == float:
                n.append(j)
   
            
    elif type(i) == dict:
        x = i.keys()
        y = i.values()
        for k in x:
            if type(k) == int or type(k) == float:
                n.append(k)
            elif type(k) == tuple:
                for j in k:
                    if type(j) == int or type(j) == float:
                        n.append(j)
        for k in y:
    
            if type(k) == int or type(k) == float:
                n.append(k)
            elif type(k) == tuple or type(k) == list or type(k) == set:
                for j in k:
                    if type(j) == int or type(j) == float:
                        n.append(j)

In [5]:
print(n)

[1, 2, 3, 4, 44, 55, 66, 34, 56, 78, 89, 34, 1, 2, 3, 1, 4, 34, 55, 67, 78, 89, 45, 22, 61, 34, 56]

# Q.2.

In [6]:
input_sentence = 'I want to become a Data Scientist'
lower_input_sentence = input_sentence.lower()
lower_input_sentence

'i want to become a data scientist'

In [7]:
def encrypted_message(a):
    return a.replace('a','z').replace('b','y').replace('c','x').replace(' ','$')

In [8]:
encrypted_message(lower_input_sentence)

'i$wznt$to$yexome$z$dztz$sxientist'