# Q.1.

A database is an organized collection of data, so that it can be easily accessed and managed

You can organize data into tables, rows, columns, and index it to make it easier to find relevant information in a dtabase

# SQL

RELATIONAL DATABASE MANAGEMENT SYSTEM (RDBMS)	

These databases have fixed or static or predefined schema	

These databases are not suited for hierarchical data storage.	

These databases are best suited for complex queries	

Vertically Scalable	

Follows ACID property	

Examples: MySQL, PostgreSQL, Oracle, MS-SQL Server, etc

# NoSQL

Non-relational or distributed database system.

They have dynamic schema

These databases are best suited for hierarchical data storage.

These databases are not so good for complex queries

Horizontally scalable

Follows CAP(consistency, availability, partition tolerance)

Examples: MongoDB, GraphQL, HBase, Neo4j, Cassandra, etc

# Q.2.

Data Definition Language (DDL) is a subset of SQL. It is a language for describing data and its relationships in a database.

You can generate DDL in a script for database objects to:

-Keep a snapshot of the database structure

-Set up a test system where the database acts like the production system but contains no data

-Produce templates for new objects that you can create based on existing ones. For example, generate the DDL for the Customer table, then edit the DDL to create the table Customer_New with the same schema

# CREATE

The CREATE TABLE command creates a new table in the database

for e.g.

CREATE TABLE Persons (
    PersonID int,
    LastName varchar(255),
    FirstName varchar(255),
    Address varchar(255),
    City varchar(255)
);

# ALTER

The ALTER TABLE command adds, deletes, or modifies columns in a table.

The ALTER TABLE command also adds and deletes various constraints in a table.

for e.g

ALTER TABLE Customers
ADD Email varchar(255);

# DROP 

The DROP TABLE command deletes a table in the database

for e.g.

DROP TABLE Shippers;

# TRUNCATE 

The TRUNCATE TABLE command deletes the data inside a table, but not the table itself.

for e.g.

DROP TABLE Shippers;

# Q.3.

DML(Data Manipulation Language) is SQL commands that deals with the manipulation of data present in the database belong to DML and this includes most of the SQL statements

It is the component of the SQL statement that controls access to data and to the database

Basically, DCL statements are grouped with DML statements.

# INSERT

The INSERT INTO statement is used to insert new records in a tabl

for e.g.
INSERT INTO table_name VALUES (value1, value2, value3, ...);

# UPDATE

The UPDATE statement is used to modify the existing records in a table

syntax:
    
UPDATE table_name
SET column1 = value1, column2 = value2, ...
WHERE condition;

# DELETE

The DELETE statement is used to delete existing records in a table

syntax:
    
DELETE FROM table_name WHERE condition;

# Q.4

DQL(Data Query Language) statements are used for performing queries on the data within schema objects

The purpose of the DQL Command is to get some schema relation based on the query passed to it

We can define DQL as follows it is a component of SQL statement that allows getting data from the database and imposing order upon it
It includes the SELECT statement

# SELECT

The SELECT statement is used to select data from a database.

When a SELECT is fired against a table or tables the result is compiled into a further temporary table, which is displayed or perhaps received by the program i.e. a front-end.

syntax:

SELECT column1, column2, ...
FROM table_name;

# Q.5.

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()    
mycursor.execute("CREATE DATABASE if not exists test1")
mycursor.execute("CREATE TABLE if not exists test1.test_table (c1 INT, c2 VARCHAR(50),c3 INT, c4 FLOAT,c5 VARCHAR(40))")
mydb.close()

# execute()

SYNTAX:
cursor.execute(operation, params=None, multi=False)

This method executes the given database operation (query or command)

The parameters found in the tuple or dictionary params are bound to the variables in the operation

Specify variables using %s or %(name)s parameter style (that is, using format or pyformat style)

execute() returns an iterator if multi is True.

# cursor()

Allows Python code to execute PostgreSQL command in a database session

Cursors are created by the connection.cursor() method: they are bound to the connection for the entire lifetime and all the commands are executed in the context of the database session wrapped by the connection.

# Q.6.

The order in which the clauses in queries are executed is as follows:

1. FROM/JOIN: The FROM and/or JOIN clauses are executed first to determine the data of interest.


2. WHERE: The WHERE clause is executed to filter out records that do not meet the constraints.


3. GROUP BY: The GROUP BY clause is executed to group the data based on the values in one or more columns.


4. HAVING: The HAVING clause is executed to remove the created grouped records that don’t meet the constraints.


5. SELECT: The SELECT clause is executed to derive all desired columns and expressions.


6. ORDER BY: The ORDER BY clause is executed to sort the derived values in ascending or descending order.


7. LIMIT/OFFSET: Finally, the LIMIT and/or OFFSET clauses are executed to keep or skip a specified number of rows.