# Q.1.

In [3]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]

ser = pd.Series(data)
ser

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

# Q.2.

In [4]:
lst = [1,2,3,4,5,6,7,8,9,10]

ser = pd.Series(lst)
ser

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

# Q.3.

In [10]:
data1 = {'Name' : ['Alice','Bob','Claire'], 'Age':[25,30,27], 'Gender' : ['Female','Male','Female']}

df = pd.DataFrame(data1,index = None)
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

# Q.4.

A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.

Series can only contain single list with index, whereas dataframe can be made of more than one series or we can say that a dataframe is a collection of series that can be used to analyse the data

# Q.5.

# Some common functions in pandas :

head()

tail()

describe()

index()

columns()


# for e.g.

head() and tail()

Once we read a dataset into a pandas data frame, we want to take a look at it to get an overview

The simplest way is to display some rows

Head and tail allow us to display rows from the top of bottom of data frame, respectively

5 rows are displayed by default but we can adjust it just by passing the number of rows weâ€™d like to display.

In [13]:
df.head()

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

# Q.6.

All data stuctures in pandas are value mutable

except series all structures are size mutable

# Q.7.

In [18]:

import pandas as pd
# Create pandas Series
courses = pd.Series(["Spark","PySpark","Hadoop"])
fees = pd.Series([22000,25000,23000])
discount  = pd.Series([1000,2300,1000])



# combine series.
df=pd.concat([courses,fees,discount], axis =1)
print(df)

         0      1     2
0    Spark  22000  1000
1  PySpark  25000  2300
2   Hadoop  23000  1000